*text=auto eol=lf

*.cpp text diff=cpp
*.h   text diff=cpp
*.hpp text diff=cpp

CMakeLists.txt text
*.cmake        text

*.sh           text eol=lf
*.bat          text eol=lf
*.py           text eol=lf
*.md           text
*.txt          text

*.png          binary
*.jpg          binary
*.fbx          binary
*.exe          binary
*.so           binary
*.lib          binary
*.a            binary
*.zip          binary
