build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
CMakeUserPresets.json
*.cmake
*.user

.vs/
x64/
Debug/
Release/
out/
bin/
lib/
bin-int/

.idea/
.vscode/
*.swp
*.swo
*~
*.code-workspace

*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.a
*.lib
*.obj
*.o
*.lo
*.la
*.ko
*.mod
*.swo
*.elf
*.ilk
*.pdb
*.exp
*.manifest
*.d
*.gcda
*.gcno
